<div id='body'>
	<div id='header'>
		<% begin %>
		<% blog = Tumblelog.find_by_tumblelog(params[:blog]) %>
		<% rescue %>
		<%= "Couldn't retrieve the object." %>
		<% end %>
		<div id='pick-a-blog'>
			<a href='http://localhost:3000'>Pick a different blog.</a>
		</div>
		<div id='stats'>
		<table id='table-header'>
			<tr>
				<td colspan="2"><a target='_blank' href='http://<%= "#{blog[:tumblelog]}.tumblr.com" %>'><h2><%=raw blog[:tumblelog].capitalize %></a></h2></td>
			</tr>
			<tr>
				<td colspan="2"><%= link_to 'Photos', 'http://localhost:3000/justpics/bottomline' %></td>
			</tr>
			<tr>
				<td><div id='avatar'><img src='<% %>'/></div></td>
				<td><%= (blog[:total_video].to_f/blog[:total_posts].to_f*100.0).round(3) %>% of <%=raw blog[:tumblelog].capitalize %> is videos.<br><br><%=raw blog[:total_video] %> videos in <%=raw blog[:total_posts] %> total posts.</td>
			</tr>
			<tr>
				<td id='summary-counter' colspan="2"><h3>Videos <%=  %> to <%=  %> of <%= blog[:total_video] %>.</h3></td>
			</tr>
		</table>
		</div>
		</div>
		
	</div>
</div>
