<!DOCTYPE html>
<html>
<head>
  <title>BetterTumblr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'partials/stats' unless !@display_stats %>
<%= render 'partials/body' unless !@display_body %>
<%= render 'partials/pagination' unless !@display_pagination %>
<%= yield %>

</body>
</html>
